<%= form_with(model: [:admin, @page], local: true) do |form| %>
  <% if page.errors.any? %>
    <div class="error_explanation">
    <h4><%= "Andmeid ei salvestatud järgmistel põhjustel:" %></h4>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :heading, 'Pealkiri *' %>
    <%= form.text_field :heading, :class => 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :slug, 'URL *' %>
     <div class="input-group mb-2">
     <div class="input-group-prepend">
          <div class="input-group-text"><%= root_url %></div>
      </div>
      <%= form.text_field :slug, :class => 'form-control' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :content, 'Lehe sisu *' %>
    <%= form.text_area :content, :class => 'form-control', :id => 'summernote-page' %>
    <script>
      $('#summernote-page').summernote({
        placeholder: 'Lisada võib teksti, pilti, videot, linke ja muud',
        tabsize: 2,
        height: 500
      });
    </script>
  </div>
<br>
  <div class="actions">
    <%= form.submit 'Salvesta', :class => 'btn btn-save' %>
  </div>
<% end %>
