<div class="page-title">
  <p>TÖÖTAJAD</p>
</div>
<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@worker.foto_url(:thumb)) if @worker.foto? %>
</p>

<p>
  <strong>Nimi:</strong>
  <%= @worker.name %>
</p>

<p>
  <strong>Ametikoht:</strong>
  <%= @worker.jobtitle %>
</p>

<p>
  <strong>E-posti aadress:</strong>
  <%= @worker.epost %>
</p>

<p>
  <strong>Telefoninumber:</strong>
  <%= @worker.number %>
</p>

<p>
  <strong>Lisainfo:</strong>
  <%= @worker.info %>
</p>

<%= link_to 'Muuda', edit_admin_worker_path(@worker) %> |
<%= link_to 'Tagasi', admin_workers_path %>
