<p id="notice"><%= notice %></p>

<h1>Menus</h1>

<table>
  <thead>
    <tr>
      <th>Toidukord1</th>
      <th>Kirjeldus1</th>
      <th>Toidukord2</th>
      <th>Kirjeldus2</th>
      <th>Toidukord3</th>
      <th>Kirjeldus3</th>
      <th>Toidukord4</th>
      <th>Kirjeldus4</th>
      <th>Toidukord5</th>
      <th>Kirjeldus5</th>
      <th>Lisainfo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.toidukord1 %></td>
        <td><%= menu.kirjeldus1 %></td>
        <td><%= menu.toidukord2 %></td>
        <td><%= menu.kirjeldus2 %></td>
        <td><%= menu.toidukord3 %></td>
        <td><%= menu.kirjeldus3 %></td>
        <td><%= menu.toidukord4 %></td>
        <td><%= menu.kirjeldus4 %></td>
        <td><%= menu.toidukord5 %></td>
        <td><%= menu.kirjeldus5 %></td>
        <td><%= menu.lisainfo %></td>
        <td><%= link_to 'Show', menu %></td>
        <td><%= link_to 'Edit', edit_menu_path(menu) %></td>
        <td><%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu', new_menu_path %>
