<p id="notice"><%= notice %></p>

<p>
  <strong>Toidukord1:</strong>
  <%= @menu.toidukord1 %>
</p>

<p>
  <strong>Kirjeldus1:</strong>
  <%= @menu.kirjeldus1 %>
</p>

<p>
  <strong>Toidukord2:</strong>
  <%= @menu.toidukord2 %>
</p>

<p>
  <strong>Kirjeldus2:</strong>
  <%= @menu.kirjeldus2 %>
</p>

<p>
  <strong>Toidukord3:</strong>
  <%= @menu.toidukord3 %>
</p>

<p>
  <strong>Kirjeldus3:</strong>
  <%= @menu.kirjeldus3 %>
</p>

<p>
  <strong>Toidukord4:</strong>
  <%= @menu.toidukord4 %>
</p>

<p>
  <strong>Kirjeldus4:</strong>
  <%= @menu.kirjeldus4 %>
</p>

<p>
  <strong>Toidukord5:</strong>
  <%= @menu.toidukord5 %>
</p>

<p>
  <strong>Kirjeldus5:</strong>
  <%= @menu.kirjeldus5 %>
</p>

<p>
  <strong>Lisainfo:</strong>
  <%= @menu.lisainfo %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
