<div class="page-title">
  <p>TEATED</p>
</div>

<p id="notice"><%= notice %></p>

<p>
  <%= @news.heading %>
</p>

<p>
  <%= raw(@news.content)%>
</p>

<%= link_to 'Muuda', edit_admin_news_path(@news) %> |
<%= link_to 'Tagasi', admin_news_index_path %>
