<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-sm-6">
    <div class="field form-group">
      <%= form.label :name, 'Nimi' %>
      <%= form.text_field :name, :class => 'form-control' %>
    </div>

    <div class="field form-group">
      <%= form.label :number, 'Laste arv' %>
      <%= form.number_field :number, :class => 'form-control' %>
    </div>

    <div class="field form-group">
      <%= form.label :age, 'Laste vanus' %>
      <%= form.text_field :age, :class => 'form-control' %>
    </div>

    <div class="field form-group">
      <%= form.label :description, 'Kirjeldus' %>
      <%= form.text_area :description, :class => 'form-control' %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="field form-group image-upload">
      <p>
        <p>Lisa pilt</p>
          <%= image_tag(@group.avatar_url) if @group.avatar? %>
          <%= form.file_field :avatar, title: 'Vali pilt' %>
          <%= form.hidden_field :avatar_cache %>
      </p>
      <div class="form-check">
        <label class="form-check-label">
          <%= form.check_box :remove_avatar, :class => 'form-check-input' %>
          Eemalda pilt
        </label>
      </div>
    </div>
  </div>
</div>
<div class="">
  <div class="field form-group">
    <%= form.label :teacher, 'Rühmaõpetaja nimi' %>
    <%= form.text_field :teacher, :class => 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :phone, 'Telefoninumber' %>
    <%= form.text_field :phone, :class => 'form-control' %>
  </div>
</div>
  

  <div class="actions">
    <%= form.submit 'Salvesta', :class => 'btn btn-save' %>
  </div>
<% end %>
