<div class="page-title">
  <p>RÜHMAD</p>
</div>
<%= link_to 'Lisa uus rühm', new_group_path, :class => 'btn btn-add' %><br><br>
<h4>Lisatud rühmad</h4>

<br>
<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        
        <td><%= link_to 'Vaata', group %></td>
        <td><%= link_to 'Muuda', edit_group_path(group) %></td>
        <td><%= link_to 'Kustuta', group, method: :delete, data: { confirm: 'Kas oled kindel, et soovid rühma kustutada?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


