<div class="page-title">
  <p>RÜHMAD</p>
</div>
<%= link_to 'Lisa uus rühm', new_group_path, :class => 'btn btn-add' %><br><br>
<h4>Lisatud rühmad</h4>

<br>
<div class="kirjed">
    <% @groups.each do |group| %>
      <ul class="list-group list-group-horizontal">
        <li><%= group.name %></li>
        <li><%= link_to 'Vaata', group %></li>
        <li><%= link_to 'Muuda', edit_group_path(group) %></li>
        <li><%= link_to 'Kustuta', group, method: :delete, data: { confirm: 'Kas oled kindel, et soovid rühma kustutada?' } %></li>
      </ul>
      
    <% end %>
</div>


