<%= form_with(model: admin_navigation, local: true) do |form| %>
  <% if admin_navigation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_navigation.errors.count, "error") %> prohibited this admin_navigation from being saved:</h2>

      <ul>
      <% admin_navigation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :path %>
    <%= form.text_field :path %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
