<p id="notice"><%= notice %></p>

<p>
  <strong>Orgname:</strong>
  <%= @homepage.orgname %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @homepage.logo %>
</p>

<p>
  <strong>Content:</strong>
  <%= @homepage.content %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @homepage.picture %>
</p>

<p>
  <strong>Pictext:</strong>
  <%= @homepage.pictext %>
</p>

<p>
  <strong>Linktekst:</strong>
  <%= @homepage.linktekst %>
</p>

<p>
  <strong>Linkdest:</strong>
  <%= @homepage.linkdest %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @homepage.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @homepage.address2 %>
</p>

<p>
  <strong>Epost:</strong>
  <%= @homepage.epost %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @homepage.phone %>
</p>

<p>
  <strong>Uselink1:</strong>
  <%= @homepage.uselink1 %>
</p>

<p>
  <strong>Uselink2:</strong>
  <%= @homepage.uselink2 %>
</p>

<p>
  <strong>Uselink3:</strong>
  <%= @homepage.uselink3 %>
</p>

<p>
  <strong>Uselink4:</strong>
  <%= @homepage.uselink4 %>
</p>

<%= link_to 'Edit', edit_admin_homepage_path(@homepage) %> |
<%= link_to 'Back', admin_homepages_path %>
