<!DOCTYPE html>
<html>
  <head>
    <title>Laveeb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.8.1/css/all.css" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js" %>
  </head>

<body>
    <div class="row">
        <div class="col-sm-6 home-left">
            <div class="home-text">
                <p class="text-1">LOO</p>
                <p>OMA ASUTUSELE<br>ISEMOODI</p>
                <p class="text-1">VEEBILEHT</p>
            </div>
        </div>
        <div class="col-sm-6 home-right">
        <%= image_tag("LaVeeb-logo.png", alt: "Laveeb logo", :id => "laveeb-logo") %>

        <% if !flash[:alert].blank? %>
            <% if flash[:alert][/The email address and password you entered do not match our records/] %>
                <div class="flashNotice col last">
                    <%= t('devise.failure.not_found_in_database', resource_name: "#{params[:user][:email]}").html_safe %>
                </div>
            <% else %>
            <!-- Style for any warning message -->
                <div class="flashNotice col last"><%= flash[:alert]%></div>
            <% end %>
        <% end %>

            <div class="form">
                <p>Logi sisse</p>
                <div class="row">
                <div class="col-sm-2"></div>
                <%= form_for(:user, :url => session_path(:user)) do |f| %>
                <div class="field form-group row">
                    <%= f.label :email, 'E-posti aadress *', :class => "col-sm-6 col-form-control" %>
                    <div class="col-sm-6 field">
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
                    </div>
                </div>
        
                <div class="field form-group row">
                    <%= f.label :password, 'Parool *', :class => "col-sm-6 col-form-control" %>
                    <div class="col-sm-6 field">
                        <%= f.password_field :password, autocomplete: "current-password", :class => "form-control" %>
                    </div>
                </div>
                <br>
                </div>
                <div class="actions">
                    <%= f.submit "Logi sisse", :class => 'btn btn-add' %>
                </div>
                <% end %>
        
            </div>
        </div>
    </div>
</body>
</html>