
    <div class="row">
        <div class="col-sm-6 home-left">
            <div class="home-text">
                <p class="text-1">LOO</p>
                <p>OMA ASUTUSELE<br>ISEMOODI</p>
                <p class="text-1">VEEBILEHT</p>
            </div>
        </div>
        <div class="col-sm-6 home-right">
        <%= image_tag("LaVeeb-logo.png", alt: "Laveeb logo", :id => "laveeb-logo") %>
            <div class="form">
                <p>Logi sisse</p>
                <div class="row">
                <div class="col-sm-2"></div>
                <%= form_for(:user, :url => session_path(:user)) do |f| %>
                <div class="field form-group row">
                    <%= f.label :email, 'E-posti aadress', :class => "col-sm-6 col-form-control" %>
                    <div class="col-sm-6 field">
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
                    </div>
                </div>
        
                <div class="field form-group row">
                    <%= f.label :password, 'Parool', :class => "col-sm-6 col-form-control" %>
                    <div class="col-sm-6 field">
                        <%= f.password_field :password, autocomplete: "current-password", :class => "form-control" %>
                    </div>
                </div>
                <br>
                </div>
                <div class="actions">
                    <%= f.submit "Logi sisse", :class => 'btn btn-add' %>
                </div>
                <% end %>
        
                
            </div>
        </div>
    </div>
