<div class="page-title">
  <p>TÖÖTAJAD</p>
</div>
<br>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nimi:</strong>
  <%= @worker.nimi %>
</p>

<p>
  <strong>Ametikoht:</strong>
  <%= @worker.ametikoht %>
</p>

<p>
  <strong>Epost:</strong>
  <%= @worker.epost %>
</p>

<p>
  <strong>Number:</strong>
  <%= @worker.number %>
</p>

<p>
  <strong>Lisainfo:</strong>
  <%= @worker.lisainfo %>
</p>

<p>
  <%= image_tag(@worker.foto_url) if @worker.foto? %>
</p>

<%= link_to 'Muuda', edit_worker_path(@worker) %> |
<%= link_to 'Tagasi', workers_path %>
