<div class="page-title">
  <p>RÜHMAD</p>
</div>
<br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nimi:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Laste arv:</strong>
  <%= @group.number %>
</p>

<p>
  <strong>Laste vanus:</strong>
  <%= @group.age %>
</p>

<p>
  <strong>Kirjeldus:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Rühmaõpetaja:</strong>
  <%= @group.teacher %>
</p>

<p>
  <strong>Telefoninumber:</strong>
  <%= @group.phone %>
</p>

<p>
  <%= image_tag(@group.avatar_url) if @group.avatar? %>
</p>


<%= link_to 'Muuda', edit_admin_group_path(@group) %> |
<%= link_to 'Tagasi', admin_groups_path %>
