<%= form_with(model: [:admin, @menu], local: true) do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
    <div class="col-sm-6">
      <div class="field form-group row">
        <div class="col-sm-4">
            <%= form.label :weekday, 'Nädalapäev' %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :weekday, :class => 'form-control' %>
        </div>
      </div>
        <br><br><br>
      <div class="field form-group row">
        <div class="col-sm-4">
            <%= form.label :meal1, 'Toidukorra nimetus' %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :meal1, :class => 'form-control' %>
        </div>
      </div>
    
      <div class="field form-group row">
        <div class="col-sm-4">
            <%= form.label :description1, 'Kirjeldus' %>
        </div>
        <div class="col-sm-8">
            <%= form.text_area :description1, :class => 'form-control' %>
        </div>
      </div><br>
    
      <div class="field form-group row">
        <div class="col-sm-4">
            <%= form.label :meal2, 'Toidukorra nimetus' %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :meal2, :class => 'form-control' %>
        </div>
      </div>
    
      <div class="field form-group row">
        <div class="col-sm-4">
            <%= form.label :description2, 'Kirjeldus' %>
        </div>
        <div class="col-sm-8">
            <%= form.text_area :description2, :class => 'form-control' %>
        </div>
      </div><br>
    
      <div class="field form-group row">
        <div class="col-sm-4">
            <%= form.label :meal3, 'Toidukorra nimetus' %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :meal3, :class => 'form-control' %>
        </div>
      </div>
    
      <div class="field form-group row">
        <div class="col-sm-4">
            <%= form.label :description3, 'Kirjeldus' %>
        </div>
        <div class="col-sm-8">
            <%= form.text_area :description3, :class => 'form-control' %>
        </div>
      </div><br>
    </div>
    
    <div class="col-sm-6">
        <div class="field form-group row">
          <div class="col-sm-4">
            <%= form.label :info, 'Lisainfo' %>
          </div>
          <div class="col-sm-8">
            <%= form.text_area :info, :class => 'form-control' %>
          </div>
        </div>
        <br><br>
        <div class="field form-group row">
          <div class="col-sm-4">
              <%= form.label :meal4, 'Toidukorra nimetus' %>
          </div>
          <div class="col-sm-8">
              <%= form.text_field :meal4, :class => 'form-control' %>
          </div>
        </div>

        <div class="field form-group row">
          <div class="col-sm-4">
            <%= form.label :description4, 'Kirjeldus' %>
          </div>
          <div class="col-sm-8">
            <%= form.text_area :description4, :class => 'form-control' %>
          </div>
        </div><br>

        <div class="field form-group row">
          <div class="col-sm-4">
              <%= form.label :meal5, 'Toidukorra nimetus' %>
          </div>
          <div class="col-sm-8">
              <%= form.text_field :meal5, :class => 'form-control' %>
          </div>
        </div>
      
        <div class="field form-group row">
          <div class="col-sm-4">
              <%= form.label :description5, 'Kirjeldus' %>
          </div>
          <div class="col-sm-8">
              <%= form.text_area :description5, :class => 'form-control' %>
          </div>
        </div><br>
    </div>
</div>

  <div class="actions">
    <%= form.submit 'Salvesta', :class => 'btn btn-save' %>
  </div>
<% end %>
