<%= form_with(model: [:admin, @menu], local: true) do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
    <div class="col-sm-6">
      <div class="field form-group row">
        <div class="col-sm-4">
            <%= form.label :toidukord1, 'Toidukorra nimetus' %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :toidukord1, :class => 'form-control' %>
        </div>
      </div>
    
      <div class="field form-group row">
        <div class="col-sm-4">
            <%= form.label :kirjeldus1, 'Kirjeldus' %>
        </div>
        <div class="col-sm-8">
            <%= form.text_area :kirjeldus1, :class => 'form-control' %>
        </div>
      </div><br>
    
      <div class="field form-group row">
        <div class="col-sm-4">
            <%= form.label :toidukord2, 'Toidukorra nimetus' %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :toidukord2, :class => 'form-control' %>
        </div>
      </div>
    
      <div class="field form-group row">
        <div class="col-sm-4">
            <%= form.label :kirjeldus2, 'Kirjeldus' %>
        </div>
        <div class="col-sm-8">
            <%= form.text_area :kirjeldus2, :class => 'form-control' %>
        </div>
      </div><br>
    
      <div class="field form-group row">
        <div class="col-sm-4">
            <%= form.label :toidukord3, 'Toidukorra nimetus' %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :toidukord3, :class => 'form-control' %>
        </div>
      </div>
    
      <div class="field form-group row">
        <div class="col-sm-4">
            <%= form.label :kirjeldus3, 'Kirjeldus' %>
        </div>
        <div class="col-sm-8">
            <%= form.text_area :kirjeldus3, :class => 'form-control' %>
        </div>
      </div><br>
    
      <div class="field form-group row">
        <div class="col-sm-4">
            <%= form.label :toidukord4, 'Toidukorra nimetus' %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :toidukord4, :class => 'form-control' %>
        </div>
      </div>
    
      <div class="field form-group row">
        <div class="col-sm-4">
            <%= form.label :kirjeldus4, 'Kirjeldus' %>
        </div>
        <div class="col-sm-8">
            <%= form.text_area :kirjeldus4, :class => 'form-control' %>
        </div>
      </div><br>
    
      <div class="field form-group row">
        <div class="col-sm-4">
            <%= form.label :toidukord5, 'Toidukorra nimetus' %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :toidukord5, :class => 'form-control' %>
        </div>
      </div>
    
      <div class="field form-group row">
        <div class="col-sm-4">
          <%= form.label :kirjeldus5, 'Kirjeldus' %>
        </div>
        <div class="col-sm-8">
          <%= form.text_area :kirjeldus5, :class => 'form-control' %>
        </div>
      </div>
    </div>
    
    <div class="col-sm-6">
        <div class="field form-group row">
          <div class="col-sm-4">
            <%= form.label :lisainfo, 'Lisainfo' %>
          </div>
          <div class="col-sm-8">
            <%= form.text_area :lisainfo, :class => 'form-control' %>
          </div>
        </div>
    </div>
</div>

  <div class="actions">
    <%= form.submit 'Salvesta', :class => 'btn btn-save' %>
  </div>
<% end %>
