<div class="page-title">
  <p>TOIDUMENÜÜ</p>
</div>
<%= link_to 'Lisa uus päevamenüü', new_admin_menu_path, :class => 'btn btn-add' %><br><br>
<h4>Nädalapäevad</h4>

<br>
<div class="kirjed">
    <% @menus.each do |menu| %>
      <ul class="list-group list-group-horizontal">
        <li><%= menu.weekday %></li>
        <li><%= link_to 'Vaata', admin_menu_path(menu) %></li>
        <li><%= link_to 'Muuda', edit_admin_menu_path(menu) %></li>
        <li><%= link_to 'Kustuta', admin_menu_path(menu), method: :delete, data: { confirm: 'Kas oled kindel, et soovid päevamenüü kustutada?' } %></li>
      </ul>
      
    <% end %>
</div>
