<div class="page-title">
  <p>TOIDUMENÜÜ</p>
</div>
<p id="notice"><%= notice %></p>
<h4><%= @menu.weekday %></h4>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <%= @menu.toidukord1 %>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= @menu.kirjeldus1 %></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        <%= @menu.toidukord2 %>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= @menu.kirjeldus2 %></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        <%= @menu.toidukord3 %>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= @menu.kirjeldus3 %></li>
      </ul>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <%= @menu.toidukord4 %>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= @menu.kirjeldus4 %></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        <%= @menu.toidukord5 %>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= @menu.kirjeldus5 %></li>
      </ul>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Lisainfo
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= @menu.lisainfo %></li>
  </ul>
</div>

<%= link_to 'Muuda', edit_admin_menu_path(@menu) %> |
<%= link_to 'Loobu', admin_menus_path %>
