<h4>Rühmad</h4>
<div class="row">
    <% @groups.each do |group| %>
    <div class="media col-sm-12">
        <%= image_tag(group.avatar_url(:preview), :class => 'mr-3', alt: 'Foto') if group.avatar? %>
        <div class="media-body groups">
            <h4><%= group.name %></h4>
            <p>Laste arv: <%= group.number %></p>
            <p>Laste vanus: <%= group.age %></p>
            <p><%= group.description %></p>
            <p>Rühmaõpetaja: <%= group.teacher %> <%= group.phone %></p>
        </div>
    </div>
<% end %>
</div>