<!DOCTYPE html>
<html>
  <head>
    <title>Laveeb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.8.1/css/all.css" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js" %>
  </head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Tartu Lasteaed Rukkilill</div>
      <div class="list-group list-group-flush">
        <a href="/admin/index" class="list-group-item list-group-item-action">TÖÖLAUD</a>
        <a href="/admin/homepages" class="list-group-item list-group-item-action">AVALEHT</a>
        <a href="/admin/pages" class="list-group-item list-group-item-action">LEHED</a>
        <a href="#" class="list-group-item list-group-item-action">NAVIGEERIMINE</a>
        <li class="list-group-item list-group-item-action">MOODULID</li>
        <a href="/admin/workers" class="list-group-item list-group-item-action"><i class="material-icons">people</i>Töötajad</a>
        <a href="/admin/groups" class="list-group-item list-group-item-action"><i class="material-icons">group_work</i>Rühmad</a>
        <a href="/admin/menus" class="list-group-item list-group-item-action"><i class="material-icons">restaurant_menu</i>Toidumenüü</a>
        <a href="/admin/news" class="list-group-item list-group-item-action"><i class="material-icons">message</i>Teated</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light border-bottom" id="navbar">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/" target="_blank">Vaata lehte</a>
            </li>
            <li class="nav-item">
                <%= link_to "Logi välja", destroy_user_session_path, method: :delete, :class => 'nav-link'%>
            </li>
          </ul>
        </div>
      </nav>
      
      <div class="container-fluid">
        <div class="col-sm-8">
            <%= yield %>
        </div>
      </div>

    </div>
</div>
</body>
</html>