<!DOCTYPE html>
<html>
  <head>
    <title>Tartu Lasteaed Rukkilill</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'web', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <div class="container">
        <a class="navbar-brand" href="#">Tartu Lasteaed Rukkilill</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle Navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav navbar-right ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Avaleht</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Lasteaiast</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Lapsevanemale</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Kontakt</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Siia tuleb lasteaia põhisõnum</h1>
        </div>
      </div>
      <a class="btn masthead-btn" href="#">Vaata lähemalt nupp!</a>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container content">
        <%= yield %>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <p>Kontakt</p>
          <ul id="contact">
            <li>Aadress</li>
            <li>Postiindeks, linn</li>
            <li>e-posti aadress</li>
            <li>Telefoninumber</li>
          </ul>
        </div>
        <div class="col-sm-3">
            <p>Kasulikud lingid</p>
            <ul id="links">
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
        </div>
        <div class="col-sm-6 projects">
            <p>Projektid</p>
            <div class="gallery">
              <img src="http://www.tartu.eu/rukkilill/Veebi/kiusamisest_vabaks.png" alt="Projekt">
            </div>
            <div class="gallery">
              <img src="http://www.tartu.eu/rukkilill/Veebi/kik.png" alt="Projekt">
            </div>
            <div class="gallery">
              <img src="http://www.tartu.eu/rukkilill/Veebi/LP.png" alt="Projekt">
            </div>
        </div>
      </div>
      <p class="text-muted small">&copy; Tartu Lasteaed Rukkilill 2019</p>
    </div>
  </footer>

</body>
</html>
